@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Sora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  padding: 24px 36px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  min-width: 380px;
}
.header-logo img {
  width: 100%;
}

.header-links ul, .header-mobile-menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.header-links li, .header-mobile-menu li {
  padding: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.header-links a, .header-mobile-menu a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.header-links li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header-mobile-menu {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}
.header-mobile-menu ul {
  flex-direction: column;
}
.header-mobile-menu ul li {
  width: 100%;
  text-align: center;
  transition: 0.2s ease;
}
.header-mobile-menu ul li a {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
}
.header-mobile-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.header-mobile-menu ul li:hover a {
  color: white;
}
.header-mobile-menu.open {
  transition: transform 0.5s ease;
  transform: translateY(90px);
}
.header-mobile-menu.close {
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}

.header-mobile-icon {
  display: none;
  width: 46px;
  cursor: pointer;
}
.header-mobile-icon img, .header-mobile-icon svg {
  width: 100%;
}

@media screen and (min-width: 1001px) {
  .header-mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header-links {
    display: none;
  }
  .header-mobile-icon {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .header-logo {
    min-width: 300px;
  }
}
@media screen and (max-width: 440px) {
  header {
    padding: 24px 10px;
  }
}
@media screen and (max-width: 380px) {
  .header-logo {
    width: 200px;
  }
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.slider {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  filter: drop-shadow(12px 12px 32px rgba(0, 0, 0, 0.5));
}

.slider-container {
  width: 100%;
  display: flex;
  transition: 0.9s ease-in-out;
  transform: translateX(0);
}
.slider-container img {
  width: 100%;
}

.slider-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 16px;
  top: 90%;
  z-index: 1;
}
.slider-control div {
  width: 42px;
}
.slider-control div img {
  width: 100%;
  transition: 0.4s ease;
  opacity: 0.7;
}
.slider-control div:hover {
  cursor: pointer;
}
.slider-control div:hover img {
  transform: scale(1.05);
  opacity: 0.4;
}

@media screen and (max-width: 1000px) {
  .slider-control {
    top: 80%;
  }
}
@media screen and (max-width: 420px) {
  .slider-control {
    top: 75%;
  }
}
.main-content {
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 151, 156), white);
}

.container {
  margin: 0px auto;
  max-width: 1200px;
}

.welcome {
  padding: 0px 24px;
  min-height: 80vh;
}

.welcome-tittle {
  padding-top: 64px;
  margin-bottom: 46px;
}
.welcome-tittle h1 {
  margin-bottom: 32px;
  text-align: center;
  font-family: "Allison", cursive;
  font-size: 120px;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 5px;
}
.welcome-tittle p {
  margin: 0px auto;
  max-width: 1000px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: rgb(27, 27, 27);
}

.welcome-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.welcome-card {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.welcome-card-img {
  max-width: 160px;
  min-height: 140px;
}
.welcome-card-img img {
  width: 100%;
}

.welcome-card-text {
  width: 100%;
}
.welcome-card-text h2 {
  font-family: "Anton", sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  color: rgb(43, 43, 43);
  text-align: center;
  margin-bottom: 12px;
}
.welcome-card-text p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(27, 27, 27);
}

.pacotes {
  min-height: 100vh;
}

.pacotes-tittle {
  width: 500px;
  margin: 64px auto 46px auto;
}
.pacotes-tittle h2.primeiro-titulo {
  text-indent: 72px;
}
.pacotes-tittle p.segundo-titulo {
  color: white;
  text-shadow: none;
}

.pacotes {
  margin-top: 72px;
  max-width: 1400px;
}
.pacotes .pacotes-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}
.pacotes .pacotes-details .pacotes-card {
  box-shadow: rgba(0, 0, 0, 0.382) 5px 10px 20px 0px;
  border-radius: 10px;
  overflow: hidden;
}
.pacotes .pacotes-details .pacotes-card img {
  margin-bottom: -5px;
  transition: transform 0.5s ease;
}
.pacotes .pacotes-details .pacotes-card img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.parceiros {
  padding-bottom: 20vh;
}

.parceiros-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.parceiros-details img {
  width: 100%;
}

.parceiros-item {
  max-width: 200px;
  max-height: 200px;
}

.parceiros-tittle {
  width: 500px;
  margin: 128px auto 46px auto;
}

h2.primeiro-titulo {
  font-family: "Allison", cursive;
  font-weight: lighter;
  font-size: 120px;
  color: rgb(255, 213, 0);
  line-height: 16px;
  text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
  text-indent: 36px;
}

p.segundo-titulo {
  line-height: 135%;
  font-family: "Anton", sans-serif;
  font-size: 100px;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 0px 1px 12px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1000px) {
  .welcome {
    min-height: 75vh;
  }
  .welcome-tittle h1 {
    font-size: 96px;
  }
  .welcome-tittle p {
    font-size: 20px;
  }
  .welcome-details {
    gap: 36px;
  }
  .welcome-card-text h2 {
    font-size: 20px;
  }
  .welcome-card-text p {
    font-size: 16px;
  }
  .welcome-card-img {
    max-width: 120px;
    min-height: 111px;
  }
  .parceiros-tittle, .pacotes-tittle {
    max-width: 500px;
  }
  h2.primeiro-titulo {
    font-size: 100px;
    text-indent: 76px;
  }
  p.segundo-titulo {
    font-size: 80px;
  }
  .pacotes-tittle h2.primeiro-titulo {
    text-indent: 105px;
  }
  .parceiros-details {
    margin: 0 10px;
    gap: 24px;
  }
  .parceiros-item {
    max-width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .parceiros-tittle, .pacotes-tittle {
    max-width: 300px;
  }
  h2.primeiro-titulo {
    text-indent: 12px;
    font-size: 80px;
  }
  p.segundo-titulo {
    font-size: 60px;
  }
  .parceiros-details {
    gap: 24px;
  }
  .pacotes-tittle h2.primeiro-titulo {
    text-indent: 36px;
  }
  .welcome {
    padding: 0 10px;
  }
  .welcome-tittle h1 {
    font-size: 50px;
  }
  .welcome-tittle p {
    font-size: 16px;
  }
  .welcome-card {
    width: 150px;
  }
  .welcome-card-text h2 {
    font-size: 16px;
  }
  .welcome-card-text p {
    font-size: 12px;
  }
  .welcome-details {
    gap: 16px;
  }
  .welcome-card-img {
    max-width: 80px;
    min-height: 80px;
  }
  .welcome-card-text {
    margin-top: 0px;
  }
  .parceiros {
    padding-bottom: 10vh;
  }
}
@media (max-width: 500px) {
  .pacotes-card {
    height: 300px; /* Reduz a altura dos pacotes-card para acomodar o conteúdo */
  }
  .pacotes-card img {
    width: 100%;
    height: 100%;
  }
}
footer {
  min-height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1509229198790-f1f7a21b24a7?auto=format&fit=crop&q=80&w=1631&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-bg {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(to top, transparent, transparent, rgba(255, 255, 255, 0.5), white);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 60px;
  background-color: rgb(0, 53, 49);
}
.footer-links a img {
  width: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */